<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal" role="form">

    {% if invalid_username is defined %}
        <div class="alert alert-error">
            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
        </div>
    {% endif %}

    <div class="form-group">
        <label class="control-label col-sm-4" for="username">
            {{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}
        </label>
        <div class="col-sm-8">
            <input type="text" id="username" name="username" class="form-control" required="required" />
        </div>
    </div>

    <div class="from-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>

</form>
