<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

    {{ form_widget(form, {'form_type': 'horizontal'}) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>

</form>
