{% if active is not defined %}
    {% set active = null %}
{% endif %}

<div class="btn-group">
    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary{% if 'show' == active %} active{% endif %}">Your profile</a>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary{% if 'edit' == active %} active{% endif %}">Edit your profile</a>
    <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary{% if 'password' == active %} active{% endif %}">Change your password</a>
</div>
