<div class="page-header">
    <h1>Change your password</h1>
</div>

{% include "BraincraftedUserBundle:Profile:toolbar.html.twig" with { 'active': 'password' } %}

<hr>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

    {{ form_widget(form, {'form_type': 'horizontal'}) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>

</form>

{% include "BraincraftedUserBundle:Profile:delete_button.html.twig" %}
