<form action="{{ path('bc_user_request_invite') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

    {{ form_widget(form, {'form_type': 'horizontal'}) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'request_invite.submit'|trans({}, 'BcUserBundle') }}</button>
    </div>

</form>
