{% extends "BraincraftedUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="page-header">
    <h1>{{ 'request_invite.headline'|trans({}, 'BraincraftedUserBundle') }}</h1>
</div>

{% include "BraincraftedUserBundle:Invite:requestInvite_content.html.twig" %}
{% endblock fos_user_content %}
